<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".PlaylistUiTestActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <service android:name="io.github.playmusic.testing.AudioProbeService"
            android:exported="false" android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
        <service android:name="io.github.playmusic.testing.PlaybackTestService"
            android:exported="false" android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
        <service android:name="io.github.playmusic.testing.TransitionAudioProbeService"
            android:exported="false" android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
